# Archivos compilados por Maven
target/

# Contraseña real de la base de datos
src/main/resources/db.properties

# Archivos de configuración de IDEs
.idea/
*.iml
.vscode/
.classpath
.project
.settings/
nbproject/